header {
  grid-area: head;
  /* background-color: #F2F1F1; */
  /* width: 35%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:20px;
  padding: 8px;
  /* color: #F2F1F1; */
  text-align: center;
}

nav {
  grid-area: navi;
  padding: 10px;
}

.Lside {
  grid-area: sidL;
}

.Rside {
  grid-area: sidR;
}

.description {
  grid-area: desp;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

.chart {
  grid-area: chrt;
  background-color: #FFFFFF;
  font-family: 'Andale Mono';
}

footer {
  grid-area: foot;
  padding: 40px 0 0 0;
  font-size: 10px;
  color: #5f5f5f;
}

/* Grid layout for MedalBoard & AtheleteBoard page */
.wrap {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  grid-template-areas:
    "head head head head head head head"
    "navi navi navi navi navi navi navi"
    "sidL desp desp desp desp desp sidR"
    "sidL chrt chrt chrt chrt chrt sidR"
    "foot foot foot foot foot foot foot";
}

body {
  /* background-color: #272727; */
  color: #272727;
  font-family: "merriweather", serif;
}

.navitems {
  clear: none;
  max-height: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* h1 {
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  text-align: center;
} */

/* Style of Board title */
h2 {
  font-size: 30px;
  color: #000000;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 4px -2px 0 rgba(111, 111, 111, 0.50);
}

.navtext {
  margin: 20px;
  color:#3F3F3F;
  text-decoration: none;
  border-bottom: 1px dotted;
}




#title-img {
  width: 30%;
}
